.screenContainer {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.leftSection {
    display: flex;
    width: 100%;
}

.rightSection {
    display: flex;
    width: 100%;
}